.table-container2 tbody {
  display: block;
  /* height: 500px;
  overflow: auto; */
}

.table-container2 table {
  margin-top: 1.5%;
}

.table-container2 thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: auto;
}

.table-container2 .itemDescription {
  width: 85%;
}

/* .table-container2 input {
  width: calc(85em;
} */

.MuiInput-root {
  width: 80%;
}

.tableTitle {
  width: 85%;
}

/* .tableColumns {
  max-width: 15%;
} */

.tColumn {
  width: 5%;
}
/* .tableSection {
  width: 7.5%;
} */

.tableSelectOperators {
  width: 7.5%;
}
